/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap_and_overrides
 */

ol, ul {
	list-style: none;
}

p {
	font-size: 11px;
}

footer {
	color: #fff;
	font-family: "Trebuchet MS", sans-serif;
	background-color: #2a2a2a;
	padding-top: 10px;	
}

footer legend {
	color: #fff;
	margin: 0px;
	border: 0px;
	font-size: 18px;
}

footer nav.menu {
	padding-top: 30px;
	padding-left: 20px;
}

footer nav.menu li {
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #4d4c4c;
	width: 180px;
}

footer nav.menu li.last {
	border-bottom: none;
}

footer nav.menu a {
	text-decoration: none;
	color: #989898;
	position: relative;
	padding-left: 40px;
	display: block;
	height: 25px;
}

footer nav.menu a:hover {
	color: #dec7ab;
}

footer nav.menu, .about-me {
	color: #989898;	
}

footer nav a.home {
	background: url('sprite.png') no-repeat 0px -65px;
}

footer nav a.home:hover {	
	background: url('sprite.png') no-repeat 0px -149px;
}

footer nav a.blog {
	background: url('sprite.png') no-repeat 0px -88px;
}

footer nav a.blog:hover {	
	background: url('sprite.png') no-repeat 0px -174px;
}

footer nav a.labs {
	background: url('sprite.png') no-repeat 0px -110px;
}

footer nav a.labs:hover {	
	background: url('sprite.png') no-repeat 0px -197px;
}

footer nav a.get-in-touch {
	height: 19px;
	background: url('sprite.png') no-repeat 0px -132px;
}

footer nav a.get-in-touch:hover {
	background: url('sprite.png') no-repeat 0px -221px;
}

.legend {
	display: block;
  	width: 100%;
	padding: 0;
	margin: 0px;
	font-size: 18px;
	line-height: 40px;
	color: #fff;
	border: 0;
}

footer div.stay-in-touch-bar {
	background-color: #000;	
	padding-top: 5px;
	padding-bottom: 5px;
}

footer div.stay-in-touch {
	padding-right: 10px;
	float: right;
}

footer div.stay-in-touch a {
	display: block;
}

footer div.stay-in-touch li.legend-social-media {
	text-indent: 0px;
	width: 100px;
}

footer div.stay-in-touch p {
	font-size: 14px;
}

footer div.stay-in-touch li {
	text-indent: -9999px;
	float: left;
	width: 28px;
	height: 25px;
	display: inline;
}

footer div.stay-in-touch li a.twitter {	
	background: url('sprite.png') no-repeat 0px -242px;
}

footer div.stay-in-touch li a:hover {
	background: url('sprite.png') no-repeat 0px -266px;
}

footer div.stay-in-touch li a.facebook {	
	background: url('sprite.png') no-repeat -24px -242px;
}

footer div.stay-in-touch li a.facebook:hover {	
	background: url('sprite.png') no-repeat -24px -266px;
}

footer div.stay-in-touch li a.rss-blog {
	background: url('sprite.png') no-repeat -48px -242px;
}

footer div.stay-in-touch li a.rss-blog:hover {
	background: url('sprite.png') no-repeat -48px -266px;
}

footer div.stay-in-touch li a.linkedin {
	background: url('sprite.png') no-repeat -75px -242px;
}

footer div.stay-in-touch li a.linkedin:hover {
	background: url('sprite.png') no-repeat -75px -266px;
}

.container .content {
	background-image: url('bg.png');
}

.text-right-bar {
	color: #000;
	padding-right: 15px;
}

.languages {
	float: right;
	display: block;
}

.languages li {
	float: left;
	padding-top: 10px;
	padding-right: 20px;
}

.languages li a {
	display: block;
	height: 23px;
	font-size: 11px;
	color: #989898;
	padding-left: 30px;
	text-decoration: none;
}

.languages li a.selected {
	color: #000;
}

.languages li a.portuguese {	
	background: url('sprite.png') no-repeat 0px -336px;
}

.languages li a.portuguese.selected {	
	background: url('sprite.png') no-repeat 0px -291px;
}

.languages li a.english {
	background: url('sprite.png') no-repeat 0px -358px;
}

.languages li a.english.selected {
	background: url('sprite.png') no-repeat 0px -314px;
}

.head-right .name {	
	color: #fff;
	width: 200px;
	float: left;
}

.head-right .social-media {
	margin-left: 185px;
	padding-top: 5px;
}

.head-right .name p {
	background-color: #000;
	font-size: 60px;
	padding: 5px 5px 5px 5px;
	float: right;
	height: 50px;
	padding-left: 10px;
	padding-right: 10px;
}

.head-right .name p.first {
	text-align: right;	
	padding-top: 20px;
	margin: 0 0 -11px;
}

.head-right .name p.last {
	text-align: right;
}

.head-right li a {
	display: block;
	text-indent: -9999px;
	width: 31px;
	height: 31px;
	margin-bottom: 10px;
}

.head-right li a.twitter {	
	background: url('sprite.png') no-repeat 0px -1px;
}

.head-right li a.twitter:hover {	
	background: url('sprite.png') no-repeat 0px -32px;
}

.head-right li a.facebook {	
	background: url('sprite.png') no-repeat -30px -1px;
}

.head-right li a.facebook:hover {	
	background: url('sprite.png') no-repeat -30px -32px;
}

.head-right li a.linkedin {	
	background: url('sprite.png') no-repeat -60px -1px;
}

.head-right li a.linkedin:hover {	
	background: url('sprite.png') no-repeat -60px -32px;
}

.label-required {
	font-size: 10px;
	text-align: right;
	padding-bottom: 0px;
	padding-top: 0px;
	padding-right: 47px;
	margin: 0px 0px 0px 0px;
}